<!DOCTYPE html>
<html>
<head>
	<title>Universidad</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body>
	<header>
		<h1 align="center">Universidad</h1>

		<div class="container">
  			<div class="row">
  				<div class="col-sm"><a href="/">
      				Inicio
      				</a>
    			</div>
   		 		<div class="col-sm"><a href="/crearcurso">
      				Crear cursos
      				</a>
    			</div>
    			<div class="col-sm"><a href="/listarcursos">
            Ver cursos
          </a>
    			</div>
    			<div class="col-sm"><a href="/crearestudiante">
      				Inscribir
          </a>
    			</div>
          <div class="col-sm"><a href="/cursosinscritos">
              Cursos/Inscritos
          </a>
          </div>
          </div>
          <div class="col-sm"><a href="/eliminarinscrito">
              Eliminar inscritos
          </a>
          </div>
  			</div>
		</div>
	</header>