{{!-- <!DOCTYPE html>
<html>
<head>
	<title>Promedio Estudiantes</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>Promedio del {{estudiante}}	</h1>
	</header> --}}
{{>header}}
	<p>
		Bienvenido a la pagina de promedio estudiante
	</p>

	<p>El promedio de {{estudiante}} es 
	{{obtenerPromedio nota1 nota2 nota3}}</p>

{{>footer}}
{{!-- 	<footer>
		<p>Todos los derechos reservados</p>
	</footer>

</body>
</html> --}}