<!--  <!DOCTYPE html>
<html>
<head>
	<title>Promedio Estudiantes</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>Promedio del {{estudiante}}	</h1>
	</header>  -->
{{>header}}

<div class="container">
	<p>
		Bienvenido a la pagina de inicio
	</p>


</div>


	
	
{{>footer}}
<!-- <footer>
		<p>Todos los derechos reservados</p>
	</footer>

</body>
</html> -->