body {
	color: grey;
	font-family: arial;
	min-height: 100vh;
}

footer {
	color: red;
	border-top: 2px solid red;
	margin-top: 16px;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	font-size: 43px;
	margin-bottom: 16px;
}